//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

button,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	appearance: none;
	border-width: 0;
	color: $color-white;
	margin: 0;
	box-sizing: border-box;
    padding: 17px 55px;
    z-index: 1;
    border-radius: 35px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 25px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
	@include media($tablet-portrait) {
		font-size: 26px;
		line-height: 36px;
	}

	// IE 11 helper.
	.ie & {
		height: rem(35);
	} // .ie &
	&:visited{
		color: $color-white;
	}
	&:hover,
	&:active,
	&:focus {
		//background-color: $color-background-button-hover;
	} // &:active, &:focus
} // button, input[type="button"], input[type="reset"], input[type="submit"]
.red{
	background-color: $color-background-button;
	transition: $color-background-button-hover;
	&:hover,
	&:active,
	&:focus {
		background-color: $color-background-button-hover;
		color: $color-white;
	}
}

.read-more-btn{
	padding-left: 10px;
    padding: 11px 16px;
    font-size: 15px;
    border-color: $color-red;
    background-color: $color-red;
    color: #fff;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}