//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer{
    text-align: center;
    padding-bottom: 70px;
    padding-top: 90px;
    .site-info {
        text-align: center;
        .footer-logo{
            margin-bottom: 20px;
        }
    } // .site-info
    margin-bottom: 35px;
    .footer-navigation{
        text-align: center;
        margin-bottom: 35px;
        li{
            float:none;
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            a{
                display: block;
                padding: 0 5px;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.02em;
                font-family: 'ProximaNova-Semibold';
                color: inherit;
                text-transform: uppercase;
                text-decoration: none;
                &:hover{
                    color: $color-red;
                }
            }
        }
    }
}

