//--------------------------------------------------------------
// Forms
//--------------------------------------------------------------

button,
input,
select,
textarea {
	font-size: 100%; // Corrects font size not being inherited in all browsers
	margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	vertical-align: baseline; // Improves appearance and consistency in all browsers
} // button, input, select, textarea

// Addresses excess padding in IE8/9
input[type='checkbox'],
input[type='radio'] {
	padding: 0;
} // input[type="checkbox"], input[type="radio"]

// Remove the clear x icon in IE
input[type='text']::-ms-clear,
input[type='search']::-ms-clear {
	display: none;
} // input[type="text"]::-ms-clear, input[type="search"]::-ms-clear

input[type='search'] {
	-webkit-appearance: textfield; // Addresses appearance set to searchfield in S5, Chrome
	box-sizing: content-box;

	// Corrects inner padding displayed oddly in S5, Chrome on OSX
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	} // &::-webkit-search-decoration
} // input[type="search"]

// Corrects inner padding and border displayed oddly in FF3/4
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
} // button::-moz-focus-inner, input::-moz-focus-inner

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select ,
textarea {
	appearance: none;
	border: 1px solid $color-border-input;
	border-radius: 0;
	color: $color-text-input;
	line-height: 1.5;
	padding: rem(6);
	&:focus {
		color: $color-focus-text-input;
	} // &:focus
} // input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea

textarea {
	@include size(100% auto);

	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; // Improves readability and alignment in all browsers
} // textarea
.gravit-form {
	.the-form{
		.gform_wrapper {
				background: transparent!important;
			input[type='text'],
			input[type='email'],
			input[type='url'],
			input[type='password'],
			input[type='search'],
			input[type='number'],
			input[type='tel'],
			input[type='range'],
			input[type='date'],
			input[type='month'],
			input[type='week'],
			input[type='time'],
			input[type='datetime'],
			input[type='datetime-local'],
			input[type='color'],
			select ,
			textarea {
				width: 100%!important;
				border: 1px solid #cdcdcd;
				background-color: #fff;
				font-size: 18px;
				line-height: 29px;
				font-family: 'Open Sans', sans-serif;
				color: #000;
				padding: 12px 22px;
				height: 55px;
				outline: none;
				
			}
			.gform_body .gform_fields .gfield select{
				width: 100%!important;
			}
			input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
				background-color: $color-red;
				color: #fff;
			}
			input[type="button"], input[type="submit"] {
				padding: 17px 55px;
				-webkit-appearance: none;
				white-space: normal;
				cursor: pointer;
				border-radius: 35px;
				background-color: $color-red;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				text-align: center;
				font-size: 26px;
				line-height: 36px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 700;
				color: #fff;
			}
			.gform_fields .gfield ul.gfield_radio, .gform_fields .gfield ul.gfield_checkbox {
				background-color: #e8e8e8;
				border: 1px solid #cdcdcd;
				padding: 30px 48px;
				margin-bottom: 0;
			}
			.gform_fields .gfield ul.gfield_radio li, .gform_fields .gfield ul.gfield_checkbox li {
				margin-bottom: 12px;
				padding-left: 0;
			}
			ul.gfield_checkbox li input[type=checkbox], ul.gfield_radio li input[type=radio] {
				width: 22px!important;
				height: 22px;
				margin: 0 6px 2px 0;
				cursor: pointer;
			}
			li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
				border: 1px solid $color-red;
			}
			li.gfield.gfield_error, li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
				background-color:$color-white;
				border-top: none; 
				border-bottom: none; 
			}
			.gfield_error .gfield_label,li.gfield_error ul.gfield_checkbox {
				color: #000;
			}
			.validation_message {
				display: none;
			}
			div.validation_error {
				color:$color-red;
				border-top: none;
				border-bottom: none;
			}
			.gfield_required {
				color: $color-red;
				margin-left: 4px;
			}
		}
		
	}
}

.the-subscribe-form{
	.gform_wrapper {
		background: transparent!important;
	}
	.gform_wrapper input[type=text] {
	margin-bottom: 0 !important;
	width: 100%!important;
	padding: 12px 26px;
	height: 58px;
	outline: none;
	}
	.gf_simple_horizontal_wrapper li.hidden_label input {
	margin-top: 0 !important;
	}
	.gf_simple_horizontal_wrapper .top_label div.ginput_container {
	margin-top: 0 !important;
	}
	.gf_simple_horizontal div.gform_footer.top_label {
	width: auto !important;
	vertical-align: top !important;
	}
	.gf_simple_horizontal div.gform_body {
	width: 100% !important;
	}
	.gf_simple_horizontal div.gform_footer.top_label input[type="submit"] {
		padding: 13px 29px;
		-webkit-appearance: none;
		cursor: pointer;
		background-color: $color-red;
		border-radius: 5px;
		font-size: 20px;
		line-height: 32px;
		font-family: 'ProximaNova-Bold';
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
	}
}
