.august-hero{
    .profile{
        display: block;
        @include media($tablet-landscape) {
            display: flex;
            align-items: center;
        }
        .page-header{
            @include media($tablet-landscape) {
            @include span-columns(6);
                .page-header-inner{
                    padding: 40px 0;
                    .page-title{
                        color: $color-red;
                        font-size: 54px;
                        line-height: 54px;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                        letter-spacing: 0.02em;
                        font-family: 'ProximaNova-Black';
                    }
                    .page-subtitle{
                        font-size: 32px;
                        line-height: 43px;
                    }
                    .page-tagline{
                        margin-top: 15px;
                        font-size: 24px;
                        line-height: 36px;
                        letter-spacing: 0.02em;
                    }
                    .page-features{
                        text-align: start;
                    
                        ul{
                            list-style: url(assets/images/bullet.png);
                            padding-left: 47px;
                            font-size: 16px;
                            line-height: 27px;
                            li{
                                margin-bottom: 10px;
                                padding-left: 3px;
                            }
                        }
                    }
                }
            }
            .page-header-inner{
                padding: 40px 0;
                .page-title{
                    margin-bottom: 0;
                    font-size: 19px;
                    line-height: 25px;
                    text-transform: uppercase;
                    font-weight: 300;
                    text-align: center;
                }
                .page-subtitle{
                    margin-top: 5px;
                    margin-bottom: 0;
                    font-size: 19px;
                    line-height: 25px;
                    text-transform: uppercase;
                    font-weight: 700;
                    text-align: center;
                }
                .page-tagline{
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 90%;
                    font-size: 15px;
                    line-height: 23px;
                    text-align: center;
                }
                ul{
                    list-style: url(assets/images/bullet.png);
                    padding-left: 47px;
                    font-size: 14px;
                    line-height: 23px;
                    margin-top: 19px;
                    margin-left: 0;
                    li{
                        margin-bottom: 10px;
                        padding-left: 3px;
                    }
                }
            }
            
        }
        .covering-image{
            display: flex;
            justify-content: center;
            align-items: center;
            @include media($tablet-landscape) {
            @include span-columns(6);
            display: flex;
            }
            
        }
    }
}