.clients{
    .clients-img{
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            padding: 15px 40px;
            @include span-columns(4);
            @include media($tablet-landscape) {
                @include span-columns(3);
            }
        }
    }
}