.page-header{
    color: $color-white;
    text-align: center;
    .grid-wrap{
        max-width: 600px;
    }
    .outer-wrap{
        height: 410px;
        display: table;
         width: 100%;
    }
    .header-wrap{
        display: table-cell;
        vertical-align: middle;
        padding: 40px 0;
        .cta-title{
            font-size: 60px;
            line-height: 65px;
            font-weight: 300;
        }
        .cta-text{
            font-size: 18px;
            line-height: 30px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 300;
        }

    }
}