.results{
    .inner-wrap{
        padding: 140px 20px;
        color: #fff;
        .section-header{
            text-align: center;
            margin-bottom: 23px;
        }
        .results-information{
           
        }
    }
   
}