.testimonials{
    .cleints-testimony {
        padding-bottom: 15px;
        padding-top: 60px;
        .testimonial{
            margin-bottom: 60px;
            .name{
                margin-bottom: 2px;
                font-size: 24px;
                line-height: 34px;
                font-weight: 700;
                color: $color-red;
                text-align: center;
                @include media($tablet-portrait) {
                    text-align: justify;
                }
            }
            .bussiness-info{
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
                text-align: center;
                @include media($tablet-portrait) {
                    text-align:justify;
                }
            }
            .bussiness-info-even,.name-even{
                text-align: center;
                @include media($tablet-portrait) {
                    text-align: right;
                }
            }
            .client-img{
                @include span-columns(12);
                @include media($tablet-portrait) {
                    display: block;
                    @include span-columns(4);
                }
                img{
                    margin: 0 auto 32px;
                    border-radius: 50%;
                    display: block;
                }
            }
            .testimony{
                padding: 26px 20px 24px;
                font-size: 14px;
                line-height: 22px;
                box-sizing: border-box;
                position: relative;
                background-color: #f1f1f1;
                font-style: italic;
                font-weight: 400;
                @include span-columns(12);
                @include media($tablet-portrait) {
                    float: left;
                    display: block;
                    width: 100%;
                    padding: 34px 7.1066% 44px;
                    font-size: 18px;
                    line-height: 29px;
                }
                &::before{   
                    border-style: solid;
                    content: "";
                    position: absolute;
                    border-color: transparent transparent #f1f1f1 transparent;
                    border-width: 0 16px 16px 16px;
                    margin: 0 0 -1px -16px;
                    bottom: 100%;
                    left: 50%;
                    right: auto;
                    top: auto;
                }
                @include media($tablet-portrait) {
                    @include span-columns(8);
                }
            }
            //Psudo class on even block
            .even{
                display: block;
                @include media($tablet-portrait) {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                }
                .testimony{
                    @include media($tablet-portrait) {
                        &::before{
                            border-style: solid;
                            content: "";
                            position: absolute;
                            top: 30px;
                            margin-left: -1px;
                            left: 100%;
                            border-color: transparent transparent transparent #f1f1f1;
                            border-width: 23px 0 23px 23px;
                        }
                    }
                }
                .client-img{
                    img{
                        @include media($tablet-portrait) {
                            float: right;
                        }
                    }
                }
            }
            //Psudo class on odd block
            .odd{
                .testimony{
                    @include media($tablet-portrait) {
                        &::before{
                            border-style: solid;
                            content: "";
                            position: absolute;
                            top: 30px;
                            margin-right: -1px;
                            right: 100%;
                            border-color: transparent #f1f1f1 transparent transparent;
                            border-width: 23px 23px 23px 0;
                            left: -10%;
                        }
                    }
                }
            }
            
        }
    }
    
}