//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------
.blog{
    .header-title{
        .blog-page-header{
            text-align: center;
        }
    }
    
    .articles-flex{
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        @media (max-width: 700px) {
          flex-direction: column;
        }
        article{
            width: 30%;
            background: #fff;
            display: flex;
            flex-direction: column;
            @media (max-width: 700px) {
                width: 100%;
                margin-bottom: 20px;
            }
            .read-more{
                display: flex;
                justify-content: center;
                padding: 20px;
            }
        }
    }
}